.row {
    margin: 80px 0px 80px 0px;
}

img {
    margin: 10px 10px 10px 10px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
}

img:hover {
    cursor: pointer;
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 10px 10px 5px #888888;
    z-index: 1;
}

.drop-area{
    width:100px;
    height:25px;
    border: 1px solid #999;
    text-align: center;
    padding:10px;
    cursor:pointer;
}
#thumbnail img{
    width:100px;
    height:100px;
    margin:5px;
}
canvas{
    border:1px solid red;
}

.aparecer-background {
background: transparent
}